:root{
  --black: #2C2C2C;
  --red: #FF9999;
  --offwhite: #ECECEC;
  --offred: #873535;
  --transwhite: rgba(255, 255, 255, .4);
  
  --headerfont: 'Crete Round', serif;
  --contentfont: 'Source Sans Pro', sans-serif;

}

* {
  box-sizing: border-box;
  font-family: var(--contentfont);
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

h1 { font-size: clamp(5rem, 10vw, 14rem); font-family: var(--headerfont); }
h2 { font-size: clamp(2rem, 3vw, 6rem); }

.maincontent {
  background-color: var(--black);
  height: 100vh;
  width: 100%;
  display: inline-flex;
  color: var(--offwhite);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maincontent--headertxt { display: flex; align-items: flex-end;}

.maincontent--headertxt h1 {
  text-align: center;
  letter-spacing: 5px;
  position: relative;
}

.headertxt--lineblinker {
  display: block;
  height: min(1vw, .5em);
  width: min(3vw, 2em);
  background-color: white;
  transform: translateY(-1vw);
  animation: blink .8s infinite;
}

.maincontent h2 {
  color: var(--transwhite);
  font-weight: 600;
  text-align: center;
  transform: translateY(3rem);
  opacity: 0;
  animation-name: textreveal;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.maincontent--ufo {
  position: absolute;
  height: min(12vw, 150px);
  top: -9vw;
  left: -8vw;
  opacity: 0;
  transform: rotate(-6deg);
  animation-name: flyingufo;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 1s;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes textreveal {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flyingufo {
  0% {
    left: -80%;
    top: -220%;
  }

  100% {
    top: -9vw;
    left: -8vw;
    opacity: .8;
  }
}