:root{
  --darkblue: #1B2034;
  --darkerblue: #11182B;
  --grayblue: #323648;
  --transwhite: rgba(255, 255, 255, 0.5);
  --white: #EDEDED;
  --lightgreen: #5FECBE;
  --lightergreen: #B5FFEB;
  
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'Inconsolata', monospace;

  --navbar-height: 100px;
  --social-icon-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 20px;
}

h1 { font-size: clamp(40px, 8vw, 80px); font-family: var(--font-sans); }
h2 { font-size: clamp(24px, 2.4vw, 30px); font-family: var(--font-mono);}
p { font-size: clamp(16px, 2vw, 18px); font-family: var(--font-mono);}

.navbar {
  height: var(--navbar-height);
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  padding: 0 4rem;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.navbar--links {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: var(--font-mono);
  gap: 1.5em;
  color: var(--white);
}

@media screen and (max-width:768px) {
  .navbar {
    display: none;
  }
}

.social-icons {
  position: absolute;
  bottom: 1rem;
  right: 4rem;
  font-size: var(--social-icon-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8em;
  z-index: 1;
}

@media screen and (max-width:768px) {
  .social-icons {
    display: none;
  }
}

.social-icons a { color: var(--white); transition: 0.4s ease;}
.social-icons a:hover { color: var(--lightgreen); transform: translateY(-4px);}

.vertical-line {
  height: 2rem;
  width: .1rem;
  background-color: var(--white);
}

.maincontent {
  background-color: var(--darkblue);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:1200px) {
  .maincontent {
    min-height: 700px;
  }
}

.headline {
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(4rem - 40px);
}

.headline--vert-line {
  display: block;
  height: calc(100% - 2rem);
  width: .1rem;
  background-color: white;
}

@media screen and (max-width:768px) {
  .headline {
    height: 80px;
    width: 100%;
    left: 0;
    top: calc(4rem - 40px);
  }

  .headline--vert-line {
    height: .1rem;
    width: 85vw;
  }
}

.headline--img-container {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: absolute;
  background-color: var(--darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline--img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--lightergreen);
  transition: 0.6s;
}

.headline--img:hover {
  transform: scale(1.1);
}

@media screen and (min-width:768px) {
  .headertxt { padding: 0 10rem; }
}

.headertxt { max-width: 85vw; }
.headertxt :first-child { color: var(--white); }
.trans-text { color: var(--transwhite); }
.headertxt p { max-width: 500px; margin-top: 1rem; }

.social-icons-mobile {
  display: flex;
  font-size: var(--social-icon-size);
  gap: .8em;
  margin-top: 2rem;
}

@media screen and (min-width:768px) {
  .social-icons-mobile { display: none; }
}

.about {
  background-color: var(--darkerblue);
  height: calc(var(--vh, 1vh) * 100);
}

.about--inner-layer {
  width: 85vw;
  height: 100%;
  margin: 0 auto;
  padding: 4rem 0;
  color: var(--white);
}

.section-name {
  width: min(500px, 85vw);
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: auto;
}

.section-name hr {
  flex-grow: 1;
  color: var(--transwhite);
}

.about--info {
  width: min(100%, 1000px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin: 0 auto;
}

@media screen and (max-width:768px) {
  .about--info {
    flex-direction: column;
  }
}

.about--info img {
  height: clamp(200px, 28vw, 280px);
}

.about--info p { color: var(--transwhite); }

.content__skills--icons {
  display: flex;
  font-size: 20px;
  color: var(--lightgreen);
  gap: .5em;
  margin-top: .8em;
}